@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.site-header {
  background-color: rgba(240, 240, 240, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #e0e0e0;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
}
.site-header a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
  font-family: "Questrial", sans-serif;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.header_area .main-menu .navbar {
  padding-left: 2rem;
  padding-right: 2rem;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: rgb(0, 0, 0);
}

.header_area .main-menu .navbar-nav a:hover {
  color: rgb(211, 211, 211);
}

/* LANDING SECTION */
.main {
  background-color: white;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;

  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

/* END LANDING SECTION */
