@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

body {
  /* overflow: hidden; */
}

.site-header {
  background-color: rgba(247, 247, 247, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #e0e0e0;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
}
.site-header a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
  font-family: "Questrial", sans-serif;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.header_area .main-menu .navbar {
  padding-left: 2rem;
  padding-right: 2rem;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: rgb(0, 0, 0);
}

.header_area .main-menu .navbar-nav a:hover {
  color: rgb(211, 211, 211);
}

.scroll__container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* LANDING SECTION */
.main {
  background-color: white;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;

  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h1 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}

.main__content h3 {
  font-size: 2rem;
}

.main__content p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.main__img--container img {
  width: 100%;
  max-width: 900px;
}

.insp__content {
  width: fit-content;
  /* height: 400px; */
  background: #f0f1f8;
  padding: 50px 100px 50px 100px;
}

.insp__content h1 {
  text-align: center;
  padding-bottom: 15px;
  font-family: "DM Serif Display", serif;
}

.insp__content p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-bottom: 15px;
  overflow: hidden;
  padding-left: 10px;
}

/* ABOUT SECTION */

.about__container {
  margin: 150px 100px 150px 100px;
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 5rem;
}

.about__card h3 h1 p {
  padding-left: 20px;
  display: inline-block;

  @media (max-width: 620px) {
    width: 100%;
  }
}

.about__card h1 {
  background: -webkit-linear-gradient(rgb(165, 70, 255), rgb(202, 255, 246));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__card h3 {
  font-family: "DM Serif Display", serif;
}

.about__card p {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 40px;
}

.about__img img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  /* padding-right: 50px; */
  border-radius: 25px;
}

@media (max-width: 1000px) {
  .about__container {
    display: block;
    font-size: 80%;
  }
  .about__card h3 h1 p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    /* margin: -3rem 0 2rem 1rem; */
    padding: 1rem;
    background: rgba(white, 0.8);
  }
  .about__img img {
    display: flex;
  }

  .about__card h3 {
    padding-top: 2rem;
  }
}

/* END ABOUT SECTION */

/* SKILLS SECTION */

.skills__container {
  /* width: fit-content; */
  background: #f0f1f8;
  padding: 50px 100px 50px 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.skills__container::after {
  content: "";
  clear: both;
  display: table;
}

.img-column {
  float: left;
  width: 33.33%;
  padding: 20px;
  border-radius: 25px;
}

@media screen and (max-width: 1000px) {
  .img-column {
    width: 100%;
  }
}

.skills-text {
  text-align: center;
}

.skills-text h3 {
  font-family: "DM Serif Display", serif;
}
/* END SKILLS SECTION */

/* FOOTER SECTION */
.footer {
  padding: 100px 100px 100px 100px;
}

.contact-form .form-group {
  padding-bottom: 10px;
}

button .form-control {
  background: -webkit-linear-gradient(rgb(165, 70, 255), rgb(180, 245, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* END FOOTER SECTION */
